.fieldContainer {
  width: 430px;
  margin: 10px;

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
}
.plus {
  width: 30px;
  height: 30px;
  background: #4BB543;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-right: 2px;
}

.minus {
  width: 30px;
  height: 30px;
  background: #e03c3e;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
}