.fieldsConstructor {
  display: flex;
  flex-wrap: wrap;
}
.btnContainer {
  text-align: right;
}
.btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4156b5;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}